#Options -Indexes

#<FilesMatch ".*\.(log|ini|htaccess)$">
  #  deny from all
#</FilesMatch>

#<IfModule mod_rewrite.c>
 #   RewriteEngine On
 #   RewriteBase /app/
 # RewriteRule ^(public)($|/) - [L,NC]
#   RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
 #   RewriteRule ^(.*)/(.*)/(.*)$ index.php?page=$1&action=$2&$3 [L,QSA]
 #   RewriteRule ^(.*)/(.*)$ index.php?page=$1&action=$2 [L,QSA]
 #   RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
#</IfModule>

Options -Indexes

<FilesMatch ".*\.(log|ini|htaccess)$">
    deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /app/

  #  Excluir de la reescritura archivos estáticos (css, js, imágenes, etc.)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

   #  Reglas para manejar las rutas MVC dinámicas
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?page=$1&action=$2&params=$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?page=$1&action=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
