<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/view/estilo/headerAdminEditorEstilo.css">
    <link rel="stylesheet" href="/app/view/estilo/editorEstilo.css">
    <title>Header MVC con Animación Bicolor y Montañas</title>
</head>
<body>
<header class="site-header">
    <div class="background-animation"></div>

    <!-- Logo Section -->
    <div class="logo-container">
            <img src=https://i.imgur.com/AdRHbcF.png"  alt="Logo de la empresa" class="logo">
    </div>

    <!-- Navigation Section -->
    <nav class="header-nav">
        <a href="/app/login/cerrarSesion">
            <button class="logout-button">Cerrar sesión</button>
        </a>
    </nav>

    <!-- User Info Section -->
    <div class="user-container">
        <span class="username">{{nombre_usuario}}</span>
        <div class="user-circle">
            <img src="{{userImageUrl}}" alt="Imagen de perfil de {{username}}" class="user-image">
        </div>
    </div>
</header>

<h2>Preguntas sugeridas por usuarios</h2>
<!-- Main Content Section -->
<div class="contenedorTabla">
        <table>
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Pregunta Sugerida</th>
                <th>Opción A</th>
                <th>Opción B</th>
                <th>Opción C</th>
                <th>Opción D</th>
                <th>Opción Correcta</th>
                <th>Categoría</th>
                <th>Acciones</th>

            </tr>
            </thead>
        <tbody>
            {{#preguntasSugeridas}}
            <tr>
                <td>
                    <img src="https://via.placeholder.com/50" alt="Imagen de Usuario" class="user-img">
                    <span>{{nombre_usuario}}</span>
                </td>
                <td>{{Pregunta}}</td>
                <td>{{OpcionA}}</td>
                <td>{{OpcionB}}</td>
                <td>{{OpcionC}}</td>
                <td>{{OpcionD}}</td>
                <td>{{OpcionCorrecta}}</td>
                <td>{{Categoria}}</td>
                <td>
                    <div class="buttons-container">
                        <button id="openModal" class="action-button modify-button open-modal" data-id="{{ID}}" >Modificar</button>
                        <!-- Modal de modificar pregunta -->

                        <div id="modal-{{ID}}" class="modal">
                            <div class="modal-content">
                                <span class="close" data-id="{{ID}}">&times;</span>
                                <h3>Modificar Pregunta</h3>
                                <!--<form id="modifyForm" action="index.php?page=editor&action=modificarPregunta" method="post">-->
                                    <form id="modifyForm" action="/app/editor/modificarPregunta" method="post">
                                    <input type="hidden" name="ID" value="{{ID}}">
                                    <input type="hidden" name="Usuario_id" value="{{Usuario_id}}">

                                    <label for="Pregunta">Pregunta:</label>
                                    <input type="text" id="Pregunta" name="Pregunta" value="{{Pregunta}}" required>

                                    <label for="OpcionA">Opción A:</label>
                                    <input type="text" id="OpcionA" name="OpcionA" value="{{OpcionA}}" required>

                                    <label for="OpcionB">Opción B:</label>
                                    <input type="text" id="OpcionB" name="OpcionB" value="{{OpcionB}}" required>

                                    <label for="OpcionC">Opción C:</label>
                                    <input type="text" id="OpcionC" name="OpcionC" value="{{OpcionC}}" required>

                                    <label for="OpcionD">Opción D:</label>
                                    <input type="text" id="OpcionD" name="OpcionD" value="{{OpcionD}}" required>

                                    <label for="OpcionCorrecta">Opción Correcta:</label>
                                    <input type="text" id="OpcionCorrecta" name="OpcionCorrecta" value="{{OpcionCorrecta}}" required>

                                    <label for="Categoria">Categoría:</label>
                                    <input type="text" id="Categoria" name="Categoria" value="{{Categoria}}" required>

                                    <button type="submit" class="action-button modify-button" >Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                       <!-- <form action="index.php?page=editor&action=agregarPregunta" method="post">-->
                        <form id="modifyForm" action="/app/editor/agregarPregunta" method="post">
                        <input type="hidden" name="ID" value="{{ID}}">
                            <input type="hidden" name="Pregunta" value="{{Pregunta}}">
                            <input type="hidden" name="OpcionA" value="{{OpcionA}}">
                            <input type="hidden" name="OpcionB" value="{{OpcionB}}">
                            <input type="hidden" name="OpcionC" value="{{OpcionC}}">
                            <input type="hidden" name="OpcionD" value="{{OpcionD}}">
                            <input type="hidden" name="OpcionCorrecta" value="{{OpcionCorrecta}}">
                            <input type="hidden" name="Categoria" value="{{Categoria}}">
                            <button class="action-button add-button">Agregar</button>
                        </form>
                        <!-- Formulario para eliminar la pregunta -->
                       <!-- <form action="index.php?page=editor&action=eliminarPregunta" method="post">-->
                            <form id="modifyForm" action="/app/editor/eliminarPregunta" method="post">

                            <input type="hidden" name="ID" value="{{ID}}">
                            <button type="submit" class="action-button delete-button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta pregunta?');">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
            {{/preguntasSugeridas}}
        </table>
    </div>
</div>
<h2>Reportes de Preguntas</h2>
<div class="contenedorTabla">
<table>
    <thead>
    <tr>
        <th>Pregunta ID</th>
        <th>Pregunta reportada</th>
        <th>Motivo del reporte</th>
        <th>Usuario que la reporto</th>
        <th>Acciones</th>

    </tr>
    </thead>
    <tbody>
    {{#reportes}}
        <tr>

            <td>{{Pregunta_id}}</td>
            <td>{{texto_pregunta}}</td>
            <td>{{Descripcion}}</td>
            <td>{{nombre_usuario}}</td>
            <td>
                <!--<form action="index.php?page=editor&action=rechazarReporte" method="post">-->
                <form action="/app/editor/rechazarReporte" method="post">
                <input type="hidden" name="ID" value="{{ID}}"> <!--Como en el array me traigo toda la tabla reporte este es su id -->
                    <button  class="action-button delete-button" >Rechazar</button>
                </form>
               <!-- <form action="index.php?page=editor&action=aprobarReporte" method="post">-->
                    <form action="/app/editor/aprobarReporte" method="post">

                    <input type="hidden" name="ID" value="{{ID}}">
                    <input type="hidden" name="Pregunta_id" value="{{Pregunta_id}}">
                    <button class="action-button add-button"  >Aprobar</button>
                </form>

            </td>
        </tr>

    {{/reportes}}
    </tbody>
</table>
</div>
<script src="/app/view/js/editor.js" ></script>

</body>
</html>
