<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/app/view/estilo/homeEstilo.css">

</head>
<body>
<header>
    <div class="logo-container">
        <img src=https://i.imgur.com/AdRHbcF.png"  alt="Logo de la empresa" class="logo">
    </div>
    <nav>
        <div>
            <nav>
                <button class="nav-button" onclick="openRanking()">Clasificación</button>
                <button class="nav-button" onclick="openPopup()">Crear una pregunta</button>
                <a href="/app/login">
                    <button class="nav-button">Cerrar sesión</button>
                </a>
            </nav>

            <div id="rankingPopup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closeRanking()">&times;</span>

                    <h2>Ranking de los Mejores Jugadores</h2>
                    <table>
                        <thead>
                        <tr>

                            <th class="position">Posición</th>

                            <th>Jugador</th>
                            <th class="score">Puntaje Máximo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#puntajes}}
                        <tr>
                            <td class="position">{{position}}</td>

                            <td>{{nombre_usuario}}</td>
                            <td class="score">{{Puntuacion}}</td>
                        </tr>
                        {{/puntajes}}
                        </tbody>
                    </table>


                </div>
            </div>

            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <h2>Crear Nueva Pregunta</h2>
                    <form action="index.php?page=home&action=usuarioSugerirPregunta" method="POST">
                        <label for="pregunta">Pregunta:</label>
                        <input type="text" id="pregunta" name="pregunta" required>
                        <label for="optionA">Opción A:</label>
                        <input type="text" id="optionA" name="optionA" required>
                        <label for="optionB">Opción B:</label>
                        <input type="text" id="optionB" name="optionB" required>
                        <label for="optionC">Opción C:</label>
                        <input type="text" id="optionC" name="optionC" required>
                        <label for="optionD">Opción D:</label>
                        <input type="text" id="optionD" name="optionD" required>

                        <label for="correctOption">Opción Correcta:</label>
                        <select id="opcionCorrecta" name="opcionCorrecta" required>
                            <option value="" disabled selected>Selecciona la opción correcta</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <label for="categoriaElegida">Categoria:</label>
                        <select id="categoriaElegida" name="categoriaElegida" required>
                            <option value="" disabled selected>Selecciona la opción correcta</option>
                            <option value="Arte">Arte</option>
                            <option value="Cine">Cine</option>
                            <option value="Deportes">Deportes</option>
                            <option value="Historia">Ciencia</option>
                            <option value="Geografía">Geografía</option>
                        </select>
                        <button type="submit">Crear Pregunta</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div >
    </div>
    <div class="profile-pic-container">
        <a href="/app/perfil">
        <img src="https://via.placeholder.com/40x40.png?text=Perfil" alt="Foto de perfil" class="profile-pic">
        </a>
        <h3 >{{nombre_usuario}}</h3>

    </div>
</header>

<main>
    <div class="game-controls">
        <a href="/app/crearPartida">
        <button class="create-game-button">Crear partida</button>
        </a>
        <input type="search" placeholder="Buscar partida" class="search-bar">
    </div>

    <div class="game-list">
         {{#partidas}}
            <div class="game-entry">
                <img src="https://via.placeholder.com/60x60.png?text=Usuario" alt="Foto de perfil del usuario" class="user-pic">
                <div class="game-info">

                    <h3>{{nombre_usuario}}</h3>
                    <p>{{Descripcion}}</p>
                </div>

                <a href="/app/crearPartida/jugarPartida/{{ID}}">
                    <button class="join-button">Empezar</button>
                </a>

            </div>
            {{/partidas}}

        </div>


    </div>
</main>
<script src="/app/view/js/home.js" defer></script>
</body>
</html>